<div class="section home top_background" id="home">

<header>
	<div class="navbar-right">
		<ul>
			<li>Resumiendo</li>
			<li>Laborando</li>
			<li>Conociendo</li>
			<li>Contactando</li>
		</ul>
	</div>
</header>

<div class="main">
cv/	<div class="jumbotron">
		<h1>Egresado de la Facultad de Ingeniería Informática. Con más de 5 años de experiencia en desarrollo e
implementación de aplicaciones y arquitecturas sistémicas sobre tecnología Java J2EE, pruebas de rendimiento
y afinamiento de servidores. Dispuesto a aprender nuevas tecnologías. Actualmente se desempeña como
Arquitecto de la Empresa Tiendas por Departamento Ripley S.A.</h1>
	</div>
</div>
<footer>
	<div class="footer">
		<ul>
			<li><a href="mailto:c.saenz.b@gmail.com" target="_blank" class="">@</a></li>
			<li><a href="https://www.linkedin.com/pub/carlos-enrique-saenz-bustamante/66/859/678" target="_blank" class="">?</a></li>
			<li><a href="https://github.com/carloque" target="_blank" class="">!</a></li>
			<li><a href="mailto:c.saenz.b@gmail.com" target="_blank" class="">©</a></li>
		</ul>
	</div>
</footer>

</div>